@model Content

<form asp-action="Update" asp-controller="Content" method="post">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group form-register-element">
        <label asp-for="SubMenuId" class="text-inter text-small">Submenu</label>
        <select asp-for="SubMenuId" class="form-control" asp-items="@ViewBag.Menu"></select>
    </div>
    <div class="form-group form-register-element">
        <label asp-for="@Model.Name" class="text-inter text-small"></label>
        <input asp-for="@Model.Name" class="form-control" />
        <span asp-validation-for="@Model.Name" class="text-danger"></span>
    </div>

    <div class="form-group form-register-element">
        <label asp-for="@Model.Text" class="text-inter text-small"></label>
        <textarea asp-for="@Model.Text" class="form-control" style="height:26vh;"></textarea>
        <span asp-validation-for="@Model.Text" class="text-danger"></span>
    </div>

    <div class="form-floating form-register-element">
        <input type="submit" value="Edit" class="btn btn-primary btn-register" />
    </div>
</form>
